form action="/review/new" method="post"
    input type="text" name="song_name" placeholder="Vilken låt vill du recensera?"
    input type="text" name="review" placeholder="Vad tyckte du om låten?"
    input type="submit" value="Publicera"