h1 = result

/ - result.each do |todo|
/     h2 Låttitel
/     p = todo ["Title"]
/     h2 Åsikt
/     p = todo["Content"]
/     h2 Rating 0 - 5
/     p = todo["Rating"]

/ p Låten som du har sökt efter heter #{result2["Title"]}.
/ p Recensionen som du har sökt efter har id #{result2["RecensionId"]}.
/ p Låtens rating är #{result2["Rating"]}.