h1 Resensionen

b Låttitel
p #{result["Title"]}

b Texten
p #{result["Content"]}

b Rating 
p #{result["Rating"]}

/ p Låten som du har sökt efter heter #{result2["Title"]}.
/ p Recensionen som du har sökt efter har id #{result2["RecensionId"]}.
/ p Låtens rating är #{result2["Rating"]}.