* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #1e383c;
}

.notice {
    background:rgba(100,100,100,0.1);
    width:60vw;
    padding:50px;
    position:fixed;
    font-size:4rem;
    font-family:Arial, Helvetica, sans-serif;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ff0000;
    border-radius: 5px;
}

p {
    color: #f6f8fa;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 85%;
}

h1 {
    color: #f6f8fa;
    font-size: 2rem;
    font-family: 'Lora', serif;
}

h2 {
    color: #c3ccd3;
    font-family: 'Lora', serif;
    font-size: 1.5625rem;
}

h3 {
    color: #f6f8fa;
    font-size: 1.5625rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #8ea6b2;
    grid-area: na;
}


nav a {
    text-decoration: none;
    color: #f6f8fa;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a:hover {
    background-color: #47646f;
    transition: ease 0.4s;
}

#grid_wrapper {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 20vh 1fr;
    grid-template-areas: "he na" "ss ss";
}

header {
    grid-area: he;
    background-color: #8ea6b2;
    display: flex;
    justify-content: center;
    align-items: center;
}


#start_section{
    display: flex;
    flex-direction: column; 
    align-items:center;
    justify-content: space-evenly;
    background-color: #47646f;
    width: 90vw;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    
    p{
        font-size: 1.25rem;
    }

    #grid_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        grid-template-areas: 
        "he"  
        "ss";
    }
    nav a {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 80px;
        background-color: #1e383c;
        top: 100px;
        width: 100vw;
    }

    #start_section{
        display: flex;
        flex-direction: column; 
        align-items:center;
        justify-content: space-evenly;
        width: 80vw;
        margin-top: 6.25rem;
    }

}